.chatControlsSection {
  box-sizing: border-box;
  background-color: white;
  border: 1px solid var(--border-color);
  border-top: 2px solid var(--border-color);
  border-left: 2px solid var(--border-color);
  border-bottom: 2px solid var(--border-color);
}

.chatControlsHeader {
  padding: 15px;
  background-color: var(--dark-background);
  border-bottom: 1px solid var(--border-color);
}

.avatarWrapper {
  position: relative;
  width: 60px;
}

.userAvatar {
  margin-bottom: 10px;
  border-radius: var(--circle-border);
}

.checkPic {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
