.chatsWrapper {
  font-weight: 400;
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
}
.title {
  padding: 15px;
  color: var(--dark-blue);
  font-size: var(--title-font-size);
  font-weight: 400;
}

.newChatBtn {
  padding: 4px 12px;
  font-family: inherit;
  font-size: var(--main-font-size);
  font-weight: 500;
  color: var(--dark-blue);
  background-color: white;
  border: none;
  outline: none;

  border-radius: (--secondary-border-radius);
  transition: var(--basic-transition);

  &:hover {
    color: var(--accent-color);
    cursor: pointer;
  }
}

.chatList {
  padding-bottom: 24px;
  max-height: 400px;
  overflow: auto;
}

.noChatsMsg {
  padding: 15px;
  font-size: var(--main-font-size);
}

.chatItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  cursor: pointer;

  &:not(:last-child) {
    border-bottom: 1px solid var(--border-color);
  }
}

.mainContentWrapper {
  display: flex;
  align-items: center;
  width: 75%;
}

.contactStatusWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
}

.avatarWrapper {
  position: relative;
  width: 60px;
}

.userAvatar {
  border-radius: 50%;
}

.checkPic {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.contactMsgWrapper {
  margin-left: 10px;
  width: 75%;
}

.chatName {
  font-weight: 500;
  font-size: var(--main-font-size);
}

.lastMsgText {
  color: var(--secondary-font-color);
  font-size: var(--medium-font-size);
  font-weight: 300;
}

.lastMsgDate {
  width: 20%;
  color: var(--secondary-font-color);
  font-size: var(--medium-font-size);
}
