.filterWrapper {
  position: relative;
}

.filterInput {
  width: 100%;
  padding: 4px 32px;
  outline: none;
  border: 1px solid var(--border-color);
  border-radius: var(--main-border-radius);
  background-color: var(--main-background);
  color: var(--main-font-color);

  font-size: var(--main-font-size);
  font-family: inherit;

  &::placeholder {
    color: var(--secondary-font-color);
    font-size: var(--main-font-size);
    font-weight: 300;
  }
}

.searchIcon {
  position: absolute;
  top: 50%;
  left: 10px;
  fill: var(--secondary-font-color);
  transform: translateY(-50%);
}
