@import-normalize; /* bring in normalize.css styles */
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;700&display=swap');

body {
  margin: 0;
  font-family: 'Jost', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #1d1e2c;
  font-size: 14px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
li,
ol,
h1,
h2,
h3,
p,
button {
  margin: 0;
  padding: 0;
}

a {
  display: block;
  text-decoration: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

div,
input {
  box-sizing: border-box;
}

//variables
:root {
  // colors
  // --main-background: #fcf7f8;
  --main-background: #f6f4f4;
  // --dark-background: #ced3dc;
  --dark-background: #ede9e9;
  --accent-color: #a31621;
  --light-blue: #90c2e7;
  --dark-blue: #4e8098;
  --main-font-color: #1d1e2c;
  --secondary-font-color: #59656f;
  --border-color: #bcc3c8;
  // borders
  --main-border-radius: 20px;
  --secondary-border-radius: 10px;
  // font
  --main-font-size: 14px;
  --title-font-size: 20px;
  --small-font-size: 10px;
  --medium-font-size: 12px;
}
